.about {
	background: $lightGrayishBlue;
	padding-top: 4rem;
	padding-bottom: 4rem;

	// MAIN ABOUT STYLE

	p {
		color: $grayishBlue;
	}

	@include breakpoint-up(large) {
		max-width: 100vw;
		padding-top: 7rem;
		padding-bottom: 7rem;
	}

	// ABOUT HEADING

	&__heading {
		padding-bottom: 3.5rem;
		h2 {
			margin-top: 0;
			margin-bottom: 1.25rem;
			font-size: $fs-lg;
			font-weight: 400;
			line-height: 1.15;
		}

		p {
			margin-bottom: 0;
		}
		h2,
		p {
			text-align: center;
			display: block;
		}

		@include breakpoint-up(large) {
			h2 {
				font-size: $fs-lgr;
			}
			h2,
			p {
				text-align: left;
				max-width: 38.5rem;
			}
		}
	}

	// ABOUT FEATURES

	&__features {
		.about__feature {
			width: 100%;
			&:not(:last-child) {
				padding-bottom: 3.5rem;
			}
			img {
				display: block;
				margin-left: auto;
				margin-right: auto;
				padding-bottom: 1.75rem;
			}
			h3 {
				margin-top: 0;
				margin-bottom: 1.25rem;
				font-size: $fs-lg;
				font-weight: 300;
				line-height: 1.15;
			}

			p {
				margin-bottom: 0;
			}

			h3,
			p {
				text-align: center;
				display: block;
			}
		}

		@include breakpoint-up(large) {
			display: flex;

			.about__feature {
				padding-right: 1.4rem;

				&:not(:last-child) {
					padding-bottom: 0;
				}
				img {
					margin-left: 0;
				}

				h3,
				p {
					text-align: left;
				}
			}
		}
	}
}
