@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');
html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: $darkBlue;
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-family: 'Public Sans', sans-serif;
  font-size: $fs-sm;
  font-weight: 300;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: 300;
}

@include breakpoint-up(large) {
  h1 {
    font-size: $fs-xl;
  }

  h2 {
    font-size: 2.25rem;
  }
  h3 {
    font-size: $fs-md;
  }

  p {
    font-size: $fs-normal;
  }
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

li {
  list-style: none;
}

//container

.container {
  max-width: 69.69rem;
  margin: 0 auto;

  &--pall {
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  &--py {
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
  }
  &--px {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  &--pt {
    padding-top: 2.25rem;
  }
  &--pb {
    padding-bottom: 2.25rem;
  }
  &--pl {
    padding-left: 1.5rem;
  }
  &--pr {
    padding-right: 1.5rem;
  }
}

//FlexBox

.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-c {
    justify-content: center;
  }

  &-ai-c {
    align-items: center;
  }
}

// Buttons

button,
.btn {
  display: inline-block;
  background: linear-gradient(to right, $limeGreen, $brightCyan);
  padding: 1rem 2.1875rem;
  border-radius: 3.125rem;
  font-weight: 400;
  font-size: $fs-sm;
  border: none;
  cursor: pointer;
  color: $lightGrayishBlue;

  &:hover {
    opacity: 0.65;
  }
}

// Visibility

.hide {
  display: none;
}

.mobile_view {
  @include breakpoint-up(large) {
    display: block;
  }
}
.desktop_view {
  // hide for desktop

  @include breakpoint-up(large) {
    display: none;
  }
}
